{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aboutme</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<body>
    <body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'aboutme/img/img3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="It's Me">It's Me</h5>
                        <p class="card-text">Hallo Everyone. My name is Sofiyatus Zawiyah. Can callme Fiya. My age 20 y.o</p>
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'aboutme/img/img2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="My Hobby">My Hobby</h5>
                        <p class="card-text">Sedikit random, Saya sangat suka take a picture. mengabadikan moment lewat sebuah gambar adalah pekerjaan yg menyenangkan bagi saya. Sebenarnya masih banyak hobby saya yang bisa dibilang gajelas hehe. Nah seperti nonton film, Tidur, reading a motivation book. dan masih banyak lagi hobby random saya.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto ">
                <div class="card mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'aboutme/img/img1.jpg' %}" alt="Card image cap">
                    <img class="card-img-top" src="{% static 'aboutme/img/img.4.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="They are is My friends">They are is My friends</h5>
                        <p class="card-text">Mereka is my friends, mungkin bukan hanya sekedar teman tetapi sudah seperti saudara sendiri.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0">
        <button type="button" class="btn btn-primary"><a href="/"<a href="" class="fw-bold text-decoration-none cv" ><span style="color:rgb(243, 247, 8); font-size: 80%;" >Back</span></a></button>
        </div>
    </div>
</body>
</html>